:: Basic configuration
set OPTEXP_WORKSPACE=C:\Users\%username%\workspace

:: Wandb configuration
set OPTEXP_WANDB_ENABLED=true
set OPTEXP_WANDB_AUTOSYNC=true
set OPTEXP_WANDB_MODE=offline
set OPTEXP_WANDB_PROJECT=%your_wandb_project%
set OPTEXP_WANDB_ENTITY=%your_wandb_entity%
set WANDB_API_KEY=%your_api_key%

:: Slurm configuration (optional, and you likely need a Unix env.sh for the login node)
:: set OPTEXP_SLURM_ACCOUNT=%your_account_name%
:: set OPTEXP_SLURM_NOTIFICATION_EMAIL=%your_mail%
:: set OPTEXP_SLURM_LOCAL_INSTALL_SCRIPT=%your_install_script.sh%