# Basic configuration
export OPTEXP_WORKSPACE=~/workspace

# Wandb configuration
export OPTEXP_WANDB_ENABLED=true
export OPTEXP_WANDB_MODE=offline
export OPTEXP_WANDB_PROJECT=$your_wandb_project
export OPTEXP_WANDB_ENTITY=$your_wandb_entity
export WANDB_API_KEY=$your_api_key

# Slurm configuration (optional)
# export OPTEXP_SLURM_NOTIFICATION_EMAIL=$your_mail@example.com
# export OPTEXP_SLURM_ACCOUNT=$your_account_name